.event-table {
  tr:nth-child(even) {
    background-color: $parchment;
  }
  tr:nth-child(odd) {
    background-color: $navy;
    color: $white;
  }
  td {
    padding: 5px;
  }
}

.is-style-navy-stripes {
  tr:nth-child(even) {
    background-color: $parchment;
    a {
      color: black;
    }
  }
  tr:nth-child(odd) {
    background-color: $navy;
    color: $white;
    a {
      color: $white;
    }
  }
  td {
    padding: 5px;
  }
}
