.footer-container {
  background: $parchment;
  width: 100%;
  padding: 15px;
  // height: 400px;
  .footer-contact-container {
    display: flex;
    flex-direction: column;
    span {
      font-size: 1.5rem;
    }
  }
}

.widget-area {
  margin-left: 10px;
}
