@import 'colours';
.header-top {
  @include respond-to('medium-large') {
        height: 110px;
      }
  height: 75px;
  display: flex;
  justify-content: center;
  background: $parchment;
  .logo-container {
    img {
      width: 100px;
      @include respond-to('medium-large') {
        width: 175px;
        margin-top: 5px;
      }
    }
  }
}
