@import 'colours';
.header-top {
  height: 110px;
  display: flex;
  justify-content: center;
  background: $parchment;
  .logo-container {
    img {
      width: 175px;
      margin-top: 5px;
    }
  }
}
