.entry-content-wrap {
  display: flex;
  justify-content: center;
  .entry-content {
    max-width: 1100px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
  }
}

.entry-footer {
  margin: 5px 0;
}

.page-title {
  text-align: center;
}
