@import 'colours';
.header-top {
  justify-content: space-around;
  background: $dark-grey;
  height: 180px;
}

#front-text-container {
  font-family: 'Roboto', sans-serif;
  #front-title {
    float: right;
    font-size: 54px;
    margin: 10px;
  }
  #front-date {
    float: right;
    font-size: 41px;
    margin: 10px;
  }
}

.header-top {
  .logo-container {
    img {
      width: 300px;;
    }
  }
}
